.html {
    display: block;
}

body {
    background-color: #fffbf7
}

h1 {
    color: darkcyan;
}

h2 {
    color: #46484c;
}

b {
    color: #8b8b8bcc;
}

button {
    color: #fff;
    background-color: #025157;
}

main {
    margin-top: 200px;
    align-self: center;
  }
.fixed-header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  

  .header {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
  }
  
  li {
    display: inline;
  }
  
  .logo {
    width: 15%;
  }
  
  .logo > img {
    height: 100%;
  }
  
  .navbar {
    width: 70%;
    text-align: center;
    color: #025157;
  }
  
  .menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }
  
  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
  }
  
  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .actions a {
    color: #67b54b;
  }
  
  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  }
  
  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }
  
  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }
  
  .publish {
    /* container styles if any */
    margin-left: 20px;
  }
  
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }
  .features {
      display: grid;
      height: 660px;
      width: 500px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  }

  .feature-art {
      background-color: rgb(240, 238, 233);
      margin: 5px;
      width: 90%;
      height: 90%;
  }
  .feature-cards {
    display: grid;
    height: 900px;
    padding: 5% 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: darkcyan;
}

.card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.card-text {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px 40px 40px;
}

.card-image {
    width: 40%;
    position: relative;
    z-index: 1;
    height: 70%;
    right: -10px;
}
.icon {
    width: 50px;
}

.card-image .card-image-image {
    margin-top: 0;
    height: 100px;
}